.content {
  max-inline-size: 1024px;
  box-sizing: content-box;
  padding: 1em;
  margin: auto;
}

h1 {
  text-align: center;
}

.room-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
}

.join-form,
.username {
  display: flex;
  gap: 1em;
  align-items: center;
}

.join-form input {
  width: 4em;
}
